.shop {
  &-item {
    padding: 24px;
    background: #fff;
    border-radius: 12px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &-top {
    display: flex;
    align-items: center;
    // height: 100px;
    margin-bottom: 24px;
    &-avator {
      width: 140px;
      height: 140px;
      margin-right: 32px;
      flex-shrink: 0;
      border-radius: 8px;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
    }
    &__title {
      flex: 1;
      overflow: hidden;
      &-info {
        display: flex;
        align-items: stretch;
        height: 45px;
        line-height: 45px;
        &-tag {
          background: $global-green;
          border-radius: 4px;
          color: #fff;
          min-width: 108px;
          margin-right: 10px;
          font-size: 24px;
          text-align: center;
        }
        &-name {
          font-weight: 600;
          font-size: 32px;
          color: $global-black;
          @include text-overflow();
        }
      }
      &-address {
        line-height: 55px;
        font-size: 24px;
        color: $global-text-gray-b;
        @include text-overflow();
      }
    }
  }
  &-content {
    display: flex;
    &__item {
      flex: 0 0 220px;
      padding: 0 10px;
      box-sizing: border-box;
      overflow: hidden;
      &-img {
        width: 100%;
        height: 200px;
        border-radius: 8px;
        margin-bottom: 10px;
      }
      &-name {
        font-size: 28px;
        color: $global-text-gray-b;
        @include text-overflow();
      }
      &-sale {
        font-size: 22px;
        color: $global-text-gray-b;
      }
      &-price {
        font-size: 30px;
        color: #ff3124;
      }
    }
  }
}
