.content {
  padding: 24px;
  &-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 32px;
  }
  &-plate {
    height: 200px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin-bottom: 8px;
    &__left {
      &-title {
        display: flex;
        align-items: center;
        font-size: 32px;
        margin-bottom: 20px;
        font-weight: 600;
        &__icon {
          width: 44px;
          height: 50px;
          margin-right: 20px;
        }
      }
      &-explain {
        font-size: 24px;
        color: $global-text-gray;
      }
    }
  }
  &-reasons {
    margin: 0 20px;
    background: #fff;
    padding: 40px;
    &__plate {
      margin-bottom: 40px;
      &-title {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
        &__icon {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
      }
      &-info {
        font-size: 20px;
        color: $global-text-gray;
        &__text {
          margin-bottom: 24px;
        }
      }
    }
  }
}
.page-btn {
  width: 700px;
  height: 80px;
  background: $global-green;
  border-radius: 40px;
  line-height: 80px;
  color: #fff;
  font-size: 36px;
  position: fixed;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}
