.header {
  top: 0;
  color: #fff;
  &-bg {
    width: 100%;
  }
  &-container {
    position: absolute;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    padding: 0 20px;
    top: env(safe-area-inset-top);
    top: constant(safe-area-inset-top);
  }
  &-title {
    text-align: center;
    line-height: 80px;
    font-weight: 600;
    font-size: 36px;
    // margin-bottom: 10px;
  }
  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    &__avatar {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      flex-shrink: 0;
    }
    &__floor {
      font-weight: 600;
      font-size: 40px;
      width: 600px;
      @include text-overflow();
    }
    &__school {
      font-size: 28px;
    }
  }
}

.content {
  &-container {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin: -40px 0 20px;
  }
  &-item {
    background: #fff;
    border-radius: 20px;
    flex-basis: 47.5%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
    &-info {
      &-title {
        font-weight: 600;
        font-size: 32px;
        color: $global-black;
        margin-bottom: 10px;
      }
      &-num {
        font-size: 28px;
        font-weight: 600;
        color: $global-red;
      }
    }
    &-icon {
      width: 64px;
      height: 64px;
    }
  }
}
.menu {
  &-container {
    // padding: 0 30px;
    background: #fff;
  }
  &-item {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    color: $global-black;
    font-size: 28px;
    &:not(:last-child) {
      border-bottom: 2px solid $global-line-gray;
    }
    &-icon {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
    &-title {
      flex: 1;
    }
  }
}
