.posts-item {
  position: relative;
  padding: 24px 36px 48px;
  // &:not(:last-child) {
  //   border-bottom: 6px solid $global-gray;
  // }
  .posts {
    &-top {
      display: flex;
    }
    &-opt {
      position: absolute;
      top: 40px;
      right: 32px;
      &__icon {
        width: 18px;
        height: 30px;
      }
      &__content {
        position: absolute;
        top: 100%;
        right: 0;
        width: 130px;
        // height: 34px;
        background: #ffffff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        &-item {
          line-height: 70px;
          text-align: center;
        }
      }
    }
    &-tag {
      background: $global-red;
      color: #fff;
      top: 0;
      right: 60px;
      position: absolute;
      width: 80px;
      text-align: center;
      font-size: 24px;
      border-radius: 0 0 10px 10px;
    }
    &-avatar {
      width: 85px;
      height: 85px;
      margin-right: 16px;
      border-radius: 50%;
      flex-shrink: 0;
    }
    &-right {
      flex: 1;
    }
    &-user {
      display: flex;
      align-items: center;
      &__info {
        &-title {
          display: flex;
          align-items: center;
          margin-bottom: 6px;
          &__name {
            font-size: 28px;
            margin-right: 16px;
          }
          &__date {
            font-size: 26px;
            color: $global-text-gray;
          }
        }
        &-tag {
          display: flex;
          align-items: center;
          &__text {
            // background: $global-green;
            color: $global-green;
            font-size: 32px;
            line-height: 54px;
            padding: 0 12px;
            border-radius: 16px;
            margin-right: 10px;
            // margin
          }
        }
      }
    }
    &-content {
      padding: 12px 0 24px;
      font-size: 32px;
      line-height: 54px;
    }
    &-album {
      display: flex;
      // justify-content: space-between;
      align-content: flex-start;
      flex-wrap: wrap;
      &__img {
        width: 480px;
        height: 400px;
        border-radius: 12px;
        margin-bottom: 16px;
      }
    }
    &-address {
      padding-left: 100px;
      display: flex;
      align-items: center;
      &__icon {
        width: 32px;
        height: 32px;
        margin-right: 10px;
      }
    }
    &-bottom {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      // height: 90px;
      margin-top: 16px;
      &__info {
        display: flex;
        align-items: center;
        color: $global-text-gray;
        &:not(:first-child) {
          margin-left: 50px;
        }
        &-icon {
          width: 36px;
          height: 36px;
          margin-right: 10px;
        }
      }
      &__right {
        display: flex;
        align-items: center;
        .item-bottom__info {
          font-size: 24px;
        }
      }
    }
    &-commit {
      margin-left: 100px;
      padding: 24px;
      background: #f4f8fb;
      border-radius: 16px;
      margin-top: 32px;
      &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        &-avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          flex-shrink: 0;
        }
        &-info {
          flex: 1;
          margin: 0 20px;
          &__title {
            font-size: 24px;
            color: $global-text-gray;
            display: flex;
            align-items: center;
            &-data {
              margin-left: 12px;
            }
            &-father {
              background: red;
              color: #fff;
              // width: 64px;
              line-height: 20px;
              text-align: center;
              font-size: 16px;
              margin-left: 12px;
              padding: 0 6px;
            }
          }
          &__content {
            margin: 8px 0;
            word-break: break-all;
            // white-space: wrap;
          }
          &__detail {
            &-top {
              display: flex;
              align-items: center;
            }
            &-name {
              font-size: 24px;
              color: $global-text-gray;
            }
            &-tag {
              background: $global-green;
              color: #fff;
              font-size: 12px;
              line-height: 16px;
              width: 24px;
              text-align: center;
              margin-right: 10px;
            }
            &-detail {
              font-size: 24px;
              padding-left: 60px;
            }
            &-avatar {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              flex-shrink: 0;
              margin-right: 12px;
            }
          }
        }
        &-like {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        &-icon {
          width: 36px;
          height: 36px;
          margin-bottom: 6px;
        }
        &-num {
          color: $global-text-gray;
        }
      }
      &__more {
        text-align: center;
        font-size: 24px;
        color: $global-text-gray;
      }
    }
  }
  .more-album {
    .posts-album__img {
      width: 180px;
      height: 180px;
      &:not(:nth-of-type(3n)) {
        margin-right: calc((100% - 540px) / 2);
        // margin-right: 16px;
      }
    }
  }
}
