.header {
  position: sticky;
  top: 0;
  z-index: 1;
  color: #fff;
  &-bg {
    width: 100%;
    height: 258px;
  }
  &-container {
    position: absolute;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    padding: 0 20px;
    top: env(safe-area-inset-top);
    top: constant(safe-area-inset-top);
    display: flex;
    align-items: center;
    justify-content: center;
    // background: red;
    height: 80px;
  }
  &-title {
    font-weight: 600;
    font-size: 36px;
  }
  .at-icon {
    font-size: 48px;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.shop {
  background: #fff;
  margin: -50px 30px 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 8px;
  z-index: 1;
  position: relative;
  &-content {
    display: flex;
    align-items: stretch;
    margin-bottom: 10px;
    justify-content: space-between;
    &-left {
      flex: 1;
      overflow: hidden;
      &-title {
        font-size: 32px;
        color: $global-black;
        font-weight: 600;
        line-height: 48px;
        @include text-overflow();
      }
      &-text {
        font-size: 24px;
        color: $global-text-gray-b;
        line-height: 32px;
        @include text-overflow();
      }
    }
    &-img {
      flex-shrink: 0;
      width: 80px;
      height: 80px;
      border-radius: 4px;
    }
  }
  &-explain {
    font-size: 20px;
    color: $global-green;
    margin-bottom: 10px;
    @include text-overflow();
  }
  &-tag {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 34px;
    &-item {
      color: $global-red;
      border: 2px solid currentColor;
      border-radius: 4px;
      font-size: 20px;
      line-height: 30px;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 0 10px;
      white-space: nowrap;
    }
  }
}
.content {
  display: flex;
  position: relative;
  &-aside {
    width: 136px;
    flex-shrink: 0;
    // height: calc(100vh - 258px - 222px + 50px - 30px - 120px - 10px);
    // background: #fff;
    margin-right: 10px;
    overflow: hidden;
    &__item {
      font-weight: 600;
      // font-size: 20px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      color: $global-black;
      @include text-overflow();
      &-num {
        width: 28px;
        height: 28px;
        background: red;
        color: #fff;
        line-height: 28px;
        font-size: 20px;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-100%);
      }
    }
  }
  &-goods {
    flex-shrink: 0;
    width: calc(100vw - 146px);
    // height: calc(100vh - 258px - 222px + 50px - 20px - 120px);
    // background: #fff;
    // padding-left: 0 20px;
    box-sizing: border-box;
    &__plate {
      &-title {
        font-weight: 600;
        font-size: 32px;
        height: 120px;
        display: flex;
        color: $global-black;
        // justify-content: center;
        align-items: center;

        // top: 0;
        // position: sticky;
      }
    }
    &__item {
      background: #fff;
      border-radius: 8px;
      padding: 20px;

      box-sizing: border-box;
      display: flex;
      align-items: stretch;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &-img {
        width: 166px;
        height: 166px;
        border-radius: 10px;
        margin-right: 10px;
      }
      &-info {
        flex-direction: column;
        display: flex;
        flex: 1;
        justify-content: space-between;
        overflow: hidden;
        &__name {
          font-weight: 600;
          font-size: 28px;
          margin-bottom: 10px;
          color: $global-black;
          @include text-overflow();
        }
        &__sale {
          color: $global-text-gray-b;
          font-size: 20px;
          flex: 1;
        }
        &__price {
          flex: 1;
          font-weight: 600;
          font-size: 30px;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          color: $global-red;
          &-line {
            font-size: 24px;
            color: $global-text-gray;
            text-decoration: line-through;
            font-weight: 400;
            margin-left: 20px;
          }
        }
      }
      &-opt {
        &-text {
          font-weight: 400;
          color: $global-text-gray-b;
        }
        &-choose {
          width: 90px;
          height: 40px;
          background: $global-green;
          color: #fff;
          line-height: 40px;
          font-size: 24px;
          text-align: center;
          border-radius: 20px;
        }
      }
    }
  }
}
.sku {
  &-selector {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    // width: 670px;
  }
  &-option {
    &__title {
      font-size: 32px;
      color: $global-black;
      font-weight: 500;
      margin-bottom: 10px;
    }
    &__tag {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      &-item {
        line-height: 40px;
        border-radius: 4px;
        border: 2px solid $global-text-gray-b;
        padding: 0 20px;
        color: $global-text-gray-b;
        margin-bottom: 20px;
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }
  &-active {
    color: #fff;
    background: $global-green;
    border-color: $global-green;
  }
  &-btn {
    color: #fff;
    background: $global-green;
    border-radius: 4px;
    height: 60px;
    line-height: 60px;
    border: none;
    font-size: 30px;
    text-align: center;
  }
  &-goods {
    background: #fff;
    border-radius: 12px 12px 0 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    &__img {
      width: 100%;
      height: 450px;
    }
    &__name {
      font-size: 32px;
      margin: 10px 0;
      font-weight: 600;
      color: $global-text-gray-b;
    }
    &__desc {
      font-size: 20px;
      margin: 10px 0;
      color: $global-green;
    }
    &__sale {
      font-size: 20px;
      color: $global-green;
    }
    &__price {
      // font-size: 30px;
      // font-weight: 600;
      // color: $global-red;
      flex: 1;
      font-weight: 600;
      font-size: 30px;
      display: flex;
      align-items: flex-end;
      // justify-content: space-between;
      color: $global-red;
      &-line {
        font-size: 24px;
        color: $global-text-gray;
        text-decoration: line-through;
        font-weight: 400;
        margin-left: 20px;
      }
    }
  }
  .footer {
    border-radius: 0 0 12px 12px;
  }
}
.modal {
  width: 600px;
  height: 350px;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  &-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;

    margin-top: -60px;
  }
  &-header {
    &__title {
      font-size: 32px;
      font-weight: 600;

      margin: 20px 0;
    }
    &__explain {
      font-size: 24px;

      color: $global-text-gray;
    }
  }
  &-content {
    font-size: 24px;
    padding: 20px;
  }
  &-footer {
    position: absolute;
    width: 100%;
    top: 480px;
    left: 50%;
    padding: 0 60px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    &__btn {
      width: 188px;
      height: 66px;
      line-height: 66px;
      text-align: center;
      color: $global-green;
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }
    .confirm {
      color: #fff;
      background: linear-gradient(180deg, #a1ffed 0%, #4ed3cd 100%);
    }
  }
}
.float {
  &-title {
    background: #f3f3f3;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-weight: 600;
  }
  &-option {
    display: flex;
    align-items: center;
    height: 125px;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 2px solid $global-line-gray;
    &__left {
      &-title {
        color: $global-black;
        font-weight: 600;
        &__spe {
          font-weight: 400;
          color: $global-text-gray;
          font-size: 24px;
          margin-left: 10px;
        }
      }
      &-num {
        font-size: 30px;
        color: $global-red;
      }
    }
  }
}
.active-item {
  color: $global-green;
  position: relative;
  &::after {
    content: '';
    width: 3px;
    height: 48px;
    background: $global-green;
    border-left: 6px solid $global-green;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
.cur-title {
  font-weight: 600;
  font-size: 32px;
  height: 120px;
  display: flex;
  color: $global-black;
  // padding-left: 20px;
  color: $global-green;
  width: 100%;
  align-items: center;
  background: $global-gray;
  position: fixed;
  // top: 430px;
  left: 146px;
}
.at-float-layout .layout-page,
.layout-body {
  padding: 0 !important;
}
.at-float-layout,
.layout-body,
.layout-page,
.at-float-layout__container,
.layout-page__content,
.layout-body__content {
  min-height: 0 !important;
}
