.school {
  width: 100vw;
  height: 100vh;
  padding: 340px 26px 70px;
  background: #f7f7ff
    url(https://eating-1256365647.cos.ap-shanghai.myqcloud.com/rujo473hda6m6fkjqonz.png) no-repeat
    top / 100%;

  .content {
    min-height: 100%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.18);
    border-radius: 16px;
    background: #fff;
    padding: 40px 60px;
    &-title {
      // margin-bottom: 60px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      line-height: 1;
      border-bottom: 2px solid $global-line-gray;
      padding-bottom: 24px;
      &-num {
        color: #22b6ba;
        font-size: 52px;
        margin: 0 24px;
        transform: translateY(4px);
      }
    }
    &-desc {
      color: #808080;
      font-size: 24px;
      line-height: 38px;
    }
    .item {
      display: flex;
      align-items: center;
      padding: 28px 0;
      &:not(:last-child) {
        border-bottom: 2px solid $global-line-gray;
      }
      &-avatar {
        width: 90px;
        height: 90px;
        border-radius: 10px;
        border: 2px solid #22b6ba;
        flex-shrink: 0;
      }
      &-info {
        padding: 0 24px;
        flex: 1;
        &__title {
        }
        &__date {
          font-size: 24px;
          color: $global-text-gray;
        }
      }
      &-right {
        color: #c82323;
      }
    }
  }
}
