.nav {
  background: #fff;
  padding: 0 30px;
  align-items: center;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  line-height: 80px;
  height: 80px;
  color: $global-black;
  font-weight: 600;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  &-item {
    // flex: 1;
  }
  .active-item {
    color: $global-green;
    border-bottom: 4px solid currentColor;
  }
}
.list {
  &-container {
    padding: 20px 20px 0;
  }
}
