page {
  background: #fff !important;
}
.comment {
  .nav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: stretch;
    height: 80px;
    line-height: 80px;
    background: #fff;
    color: $global-black;
    flex-wrap: wrap;
    width: 100%;
    font-size: 28px;
    font-weight: 500;
    &-item {
      flex: 1;
      height: 80px;
      // min-width: 180px;
      padding: 0 20px;
      box-sizing: border-box;
      text-align: center;
      position: relative;
      .active {
        // color: $global-green;
      }
      .active::after {
        content: '';
        width: 60px;
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: $global-green;
      }
    }
  }
  .list {
    // background: #fff;
    padding: 24px 0;
    &-item {
      &:not(:last-child) {
        border-bottom: 12px;
        padding: 12px 0;
      }
      &__top {
        display: flex;
        align-items: center;
        margin: 0 24px;
        &-avatar {
          width: 90px;
          height: 90px;
          flex-shrink: 0;
          margin: 0 18px;
          border-radius: 50%;
        }
        &-info {
          flex: 1;
          &__name {
            // font-size: 32px;
            font-weight: 600;
            margin-bottom: 6px;
          }
          &__desc {
            font-size: 24px;
            color: $global-text-gray;
          }
        }
        &-btn {
          align-self: flex-start;
          width: 100px;
          height: 50px;
          border-radius: 25px;
          margin-right: 32px;
          border: 2px solid $global-green;
          text-align: center;
          color: $global-green;
          line-height: 46px;
          background: #fff;
        }
      }
      &__desc {
        display: flex;
        align-items: center;
        margin: 24px;
      }
      &__content {
        background: #f7f8f9;
        padding: 0 24px 20px;
        &-desc {
          display: flex;
          align-items: center;
          height: 64px;
        }
        &-info {
          display: flex;
          align-items: center;
          background: #fff;
          &__img {
            height: 120px;
            width: 120px;
            flex-shrink: 0;
            border-radius: 8px;
          }
          &__right {
            padding: 0 18px;
            &-desc {
              margin-top: 6px;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
