$global-gray: #f3f3f3;
$global-black: #666;
$global-text-gray: #999;
$global-text-gray-b: #666;
$global-line-gray: rgba(112, 112, 112, 0.15);
$global-green: #47cfca;
$global-red: #ff5a50;
$global-yellow: #e5c567;

$font-size: 14px * 2 !default;
$font-size-small: floor($font-size * 0.9) !default;
$font-size-large: floor($font-size * 1.2) !default;
