.user-float {
  padding: 24px 24px 60px;
  &-top {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    margin-bottom: 24px;

    &__user {
      padding: 0 32px;
      &-name {
        font-weight: 600;
        font-size: 32px;
        flex: 1;
        margin-bottom: 18px;
      }
      &-school {
        color: #8b8b8d;
        font-size: 32px;
      }
    }
    &__right {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-avatar {
        &-con {
          position: relative;
        }
        height: 120px;
        width: 120px;
        border-radius: 50%;
        border: 2px solid $global-green;
        // margin-right: -60px;
        margin-bottom: 12px;
        &-tag {
          width: 50px;
          height: 50px;
          position: absolute;
          right: 0;
          bottom: 12px;
          transform: translate(15%, 15%);
        }
      }
      &-btn {
        background: $global-green;
        color: #fff;
        font-size: 20px;
        border-radius: 4px;
        width: 90px;
      }
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__btn {
      width: 220px;
      height: 80px;
      border: 2px solid $global-green;
      border-radius: 40px;
      color: $global-green;
      line-height: 76px;
      background: #fff;
      padding: 0;
      margin: 0 12px;
      font-size: 28px;
      ::after {
        border: none;
      }
    }
    .long-btn {
      background: $global-green;
      color: #fff;
      width: 430px;
    }
    .green-btn {
      background: $global-green;
      color: #fff;
    }
  }
}
