.user-float {
  padding: 24px;
  &-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 24px;
    &__user {
      &-info {
        display: flex;
        align-items: center;
        &__name {
          font-weight: 600;
        }
      }
      &-school {
        color: #8b8b8d;
        font-size: 20px;
      }
    }
    &__right {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-avatar {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        border: 2px solid $global-green;
        // margin-top: -60px;
        margin-bottom: 12px;
      }
      &-btn {
        background: $global-green;
        color: #fff;
        font-size: 20px;
        border-radius: 4px;
        width: 90px;
      }
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__btn {
      width: 220px;
      height: 70px;
      border: 2px solid $global-green;
      border-radius: 35px;
      color: $global-green;
      line-height: 66px;
      background: #fff;
      padding: 0;
      margin: 0;
      font-size: 28px;
      ::after {
        border: none;
      }
    }
    .long-btn {
      background: $global-green;
      color: #fff;
      width: 430px;
    }
  }
}