page {
  background: #fff !important;
}
.mine {
  .header {
    top: 0;
    color: #fff;
    position: sticky;
    height: 540px;
    left: 0;
    width: 100%;
    &-bg {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }
  }
  .content {
    position: absolute;
    top: 176px;
    left: 0;
    width: 100%;
    z-index: 2;
    height: calc(100vh - 176px);
  }
  .other-content {
    height: calc(100vh - 176px - 156px);
  }
  .title {
    padding: 0 24px 24px;
    border-radius: 30px 30px 0 0;
    margin-top: 364px;
    background: #fff;
    position: relative;
    &-btn {
      position: absolute;
      right: 76px;
      top: -120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      font-size: 24px;
      &-icon {
        width: 60px;
        height: 60px;
        margin-bottom: 8px;
      }
    }
    &-user {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      padding: 24px 0;
      &__avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        // flex-shrink: 0;
        border: 4px solid $global-green;
        &-con {
          flex-shrink: 0;
          width: 150px;
          height: 150px;
          margin-right: 8px;
          position: relative;
        }
        &-tag {
          width: 40px;
          height: 40px;
          position: absolute;
          right: 0;
          bottom: 0;
          transform: translate(15%, 15%);
        }
      }
      &__info {
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &__name {
            font-size: 24px;
            color: $global-text-gray;
          }
          &__data {
            font-weight: 600;
          }
        }
      }
      &__btn {
        flex-shrink: 0;
        width: 90px;
        line-height: 45px;
        background: $global-green;
        border-radius: 22.5px;
        color: #fff;
        font-size: 24px;
        text-align: center;
      }
      &__opt {
        width: 18px;
        height: 30px;
        transform: translateY(50%);
        position: relative;
        &-content {
          position: absolute;
          top: 108px;
          right: 0;
          width: 130px;
          // height: 34px;
          background: #ffffff;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          &-item {
            line-height: 70px;
            text-align: center;
          }
        }
      }
    }
    &-info {
      display: flex;
      align-items: center;
      &__name {
        font-size: 36px;
        font-weight: 600;
        margin-right: 20px;
      }
      &__tag {
        font-size: 20px;
        color: $global-green;
        line-height: 40px;
        background: #f4f8fb;
        padding: 0 12px;
      }
    }
    &-desc {
      font-size: 24px;
      color: $global-text-gray;
      // display: flex;
      // align-items: baseline;
      &__icon {
        width: 24px;
        height: 24px;
        margin-left: 12px;
      }
    }
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 0 24px;
    font-size: 24px;
    background: $global-gray;
    // z-index: 999;
    // position: relative;
    &-title {
      color: $global-text-gray;
    }
    &-more {
      display: flex;
      align-items: center;
      &__icon {
        width: 24px;
        height: 24px;
        margin-left: 10px;
      }
    }
  }
  .list {
    // z-index: 999;
    // position: relative;
    background: #fff;
    // padding-bottom: 480px;
    &-item {
      padding: 24px;
      position: relative;
      &:not(:last-child) {
        border-bottom: 6px solid $global-gray;
      }
      &-opt {
        position: absolute;
        top: 32px;
        right: 32px;
        &__icon {
          width: 24px;
          height: 40px;
        }
        &__content {
          position: absolute;
          top: 100%;
          right: 0;
          width: 130px;
          // height: 34px;
          background: #ffffff;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          &-item {
            line-height: 70px;
            text-align: center;
          }
        }
      }
      &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        font-size: 24px;
        color: $global-text-gray;
        &-btn {
          width: 18px;
          height: 30px;
          margin-left: 24px;
          position: relative;
          &-icon {
            width: 18px;
            height: 30px;
          }
        }
      }
      &__content {
        padding: 20px 0;
        line-height: 50px;
        &-text {
          min-height: 50px;
        }
      }
      &__album {
        display: flex;
        // justify-content: space-between;
        align-content: flex-start;
        flex-wrap: wrap;
        &-img {
          width: 480px;
          height: 400px;
          border-radius: 12px;
          margin-bottom: 16px;
        }
      }
      .more-album {
        .list-item__album-img {
          width: 220px;
          height: 220px;
          &:not(:nth-of-type(3n)) {
            margin-right: calc((100% - 660px) / 2);
          }
        }
      }
      &-bottom {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // height: 90px;
        margin-top: 16px;
        &__info {
          display: flex;
          align-items: center;
          color: $global-text-gray;
          &:not(:first-child) {
            margin-left: 50px;
          }
          &-icon {
            width: 36px;
            height: 36px;
            margin-right: 10px;
          }
        }
        &__right {
          display: flex;
          align-items: center;
          .item-bottom__info {
            font-size: 24px;
          }
        }
      }
    }
  }
  .default-content {
    padding: 180px 0;
    // min-height: 100vh;
  }
  .opt {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px 24px 60px;
    // border-top: 2px solid $global-line-gray;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: #fff;
    &-btn {
      line-height: 72px;
      font-size: 28px;
      // color: #fff;
      background: #f2f2f2;
      border-radius: 36px;
      width: 240px;
      margin: 0 12px;
      text-align: center;
      font-weight: 600;
    }
  }
  &-commit {
    margin: 24px;
    // background: #f4f8fb;
    // border-radius: 16px;
    &:not(:last-child) {
      border-bottom: 2px solid $global-line-gray;
    }
    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 24px;
      color: $global-text-gray;
      height: 72px;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 24px 0;
      &:not(:last-child) {
        // margin-bottom: 20px;
        border-bottom: 2px solid #f4f8fb;
      }
      &-avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        &-con {
          flex-shrink: 0;
          width: 80px;
          height: 80px;
          margin-right: 12px;
          position: relative;
        }
        &-tag {
          width: 40px;
          height: 40px;
          position: absolute;
          right: 0;
          bottom: 0;
          transform: translate(15%, 15%);
        }
      }
      &-info {
        flex: 1;
        &__title {
          color: $global-yellow;
        }
        &__content {
          font-size: 24px;
          margin: 8px 0 36px;
          color: $global-text-gray;
        }
        &__detail {
          display: flex;
          align-items: center;
          // font-size: 20px;
          // &-name {
          //   color: $global-text-gray;
          // }
          &-detail {
            margin-left: 12px;
          }
        }
      }
      &-icon {
        width: 36px;
        height: 36px;
      }
    }
    &__more {
      text-align: center;
      font-size: 24px;
      color: $global-text-gray;
    }
  }
  .green-btn {
    background: $global-green;
    color: #fff;
  }
  .float-content {
    padding: 24px 0 0;
    .float-item {
      text-align: center;
      font-weight: 600;
      font-size: 30px;
      line-height: 70px;
    }
    .cancel {
      border-top: 10px solid $global-line-gray;
      line-height: 110px;
    }
  }
  .at-float-layout__container {
    border-radius: 40px 40px 0 0;
    width: 700px;
    left: 50%;
    transform: translate(-50%);
    min-height: auto;
  }
  .layout-body,
  .at-float-layout,
  .layout-body__content {
    min-height: auto;
    padding: 0;
  }
}
