.opt {
  display: flex;
  min-width: 120px;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  color: $global-text-gray-b;
  &-num {
    font-weight: 400;
    color: $global-text-gray-b;
    margin: 0 20px;
  }
  .at-icon {
    font-size: 36px;
    line-height: 45px;
    width: 45px;
    text-align: center;
    color: $global-green;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // overflow: hidden;
  }
  .add-icon {
    background: $global-green;
    color: #fff;
    border-radius: 50%;
  }
  .minus-icon {
    line-height: 41px;
    border: 2px solid $global-green;
    border-radius: 50%;
  }
}
