.order-btn {
  // color: $global-green;
  // border: 2px solid $global-green;
  text-align: center;
  border-radius: 4px;
  // line-height: 36px;
  min-width: 160px;
  // font-size: 24px;
  padding: 0 20px;
  margin-left: 20px;

  background: $global-green;
  border-radius: 4px;
  color: #fff;
  // width: 100%;
  line-height: 66px;
  height: 70px;
  font-size: 32px;
}
.red-btn {
  background: $global-red;
  color: #fff;
}
.cancel-btn {
  background: $global-text-gray;
  color: #fff;
}
