.float {
  .float-content {
    padding: 24px 0 0;
    .float-item {
      font-weight: 600;
      font-size: 30px;
      line-height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      background: #fff;
      border: none;
      color: $global-black;
      &::after {
        border: none;
      }
      &:not(:last-child) {
        border-bottom: 2px solid $global-line-gray;
      }
      &__icon {
        width: 36px;
        height: 36px;
        margin-right: 24px;
      }
    }
    .cancel {
      border-top: 10px solid $global-line-gray;
      line-height: 110px;
    }
  }
  .at-float-layout__container {
    border-radius: 40px 40px 0 0;
    width: 700px;
    left: 50%;
    transform: translate(-50%);
    min-height: auto;
  }
  .layout-body,
  .at-float-layout,
  .layout-body__content {
    min-height: auto;
    padding: 0;
  }
}
