.content {
  padding: 24px;

  &-opt {
    width: 700px;
    // height: 168px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 40px auto;
    padding: 0 12px;
    &__item {
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 32px;
      &:not(:last-child) {
        border-bottom: 2px solid $global-line-gray;
      }
      &-title {
        font-size: 32px;
        font-weight: 600;
      }
      &-inp {
        color: $global-text-gray;
      }
    }
  }
  &-explain {
    color: $global-red;
    font-size: 24px;
    text-align: center;
  }
}
.page-btn {
  width: 700px;
  height: 80px;
  background: $global-green;
  border-radius: 40px;
  line-height: 80px;
  color: #fff;
  font-size: 36px;
  position: fixed;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}
