.default {
  &-container {
    text-align: center;
  }
  &-icon {
    width: 350px;
    margin-top: 120px;
    height: 210px;
  }
  &-text {
    color: $global-text-gray;
    font-size: 32px;
    margin-top: 80px;
  }
}