.comment-footer {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  width: 100%;
  padding: 0 24px;
  height: 120px;
  &__inp {
    flex: 1;
    background: $global-gray;
    height: 72px;
    line-height: 72px;
    border-radius: 36px;
    padding: 0 24px;
  }
  &__btn {
    flex-shrink: 0;
    width: 145px;
    line-height: 72px;
    background: $global-green;
    border-radius: 36px;
    color: #fff;
    font-size: 28px;
    text-align: center;
    margin-left: 24px;
  }
}